@charset "utf-8";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  flex-flow: column;
}

.navbar-menu {
  position: fixed;
  top: 0px;
  width: 100%;

  display: grid;
  border: 1px solid grey;

  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.nav_item {
  width: 150px;
  height: 55px;
  border: 1px solid red;
  
  text-align: center;
}

.discounts {
  display: none;
}

.navbar-burger {
  border: 1px solid red;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  height: 53px;
  width: 53px;
}

@media only screen and (max-width: 600px) {
  .navbar-menu{
    display: none;
  }

  .navbar-burger {
    display: flex;
  }
}